/*
@Author: ThemeMascot
@URL: http://ThemeMascot.com

This is the file where you can add your custom styles to change the look of the
theme. But don't modify style-main.css file.

*/

/* Your custom css codes start here: */

.menuzord-brand img {
    max-height: 78px;
  }

.menuzord-brand {
    margin: 0px 30px 0 0;
}